In [254]:
from scipy import stats
import pandas as pd

def ttest(sample1, sample2):
    return stats.ttest_ind(sample1, sample2, equal_var=False)

In [290]:
df = pd.read_csv('logistic_maledon.mat')

In [291]:
df.head(5)

          D    Kaiser    Broken  Condition
0  0.550000  0.565385  0.603846   0.588462
1  0.561538  0.600000  0.573077   0.584615
2  0.542308  0.576923  0.600000   0.576923
3  0.480769  0.530769  0.626923   0.484615
4  0.534615  0.573077  0.669231   0.534615

In [292]:
full = df['D']
kaiser = df['Kaiser']
broken = df['Broken']
condition = df['Condition']

# SIDFB

In [295]:
ttest(broken, condition)

Ttest_indResult(statistic=10.549553204954089, pvalue=7.023224278086803e-21)

# SIDFW

In [298]:
ttest(full, broken)

Ttest_indResult(statistic=-13.20269301953661, pvalue=1.1063905319070369e-28)